body
{
  margin: 0;
  font-family: 'Roboto', serif;
}

#learning-activities-hero
{
  background: #2e32db;
  color: white;
  text-align: center;
  padding: 16px;
}

#reporting-tools
{
  background: #f7f7f7;
  text-align: center;
  padding: 16px;
}

.preview-button
{
  background: #56b3ae;
  border: none;
  padding: 0.5em 2em;
  border-radius: 0.5em;
  font-weight: bold;
  color: white;
}

#hero-cards
{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

h1
{
  margin-top: 1.5em;
  font-weight: bold;
  font-size: 32px;
}

#learning-activities-hero p
{
  max-width: 920px;
  margin: 1em auto;
  font-size: 1.25em;
}

.card
{
  color: black;
  margin: 2em;
  width: 250px;
  padding: 3em 2em;
  text-align: left;
  background: white;
  border-radius: 0.75em;
}

.big-card
{
  display: flex;
  color: black;
  padding: 2em 3em;
  margin: 2em auto;
  max-width: 920px;
  text-align: left;
  background: white;
  border-radius: 0.75em;
}

.card img
{
  display: block;
  margin: 2em auto 3em auto;
}

#logo
{
  width: 128px;
}

.info-box
{
  margin: 16px 32px;
  border-radius: 16px;
  padding: 16px 32px;
  background: #A7DAE2;
}

#demo-tasks
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.demo-task
{
  width: calc(32% - 64px);
  min-width: 256px;
  max-width: 512px;
  margin: 16px 32px;
  cursor: pointer;
}

.demo-task-button:hover,
.demo-tool:hover
{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.demo-task-button
{
  border: 3px solid #3384AC;
  border-radius: 32px;
  text-align: center;
  padding: 8px;
}

.demo-task-image
{
  margin: 16px;
  max-height: 128px;
}


.demo-task p
{
  padding: 0 32px;
}

.demo-task-button h5,
.demo-task-button h3
{
  margin: 8px;
}

#demo-tools
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.demo-tool
{
  width: calc(32% - 64px);
  min-width: 256px;
  max-width: 512px;
  height: 128px;
  margin: 16px 32px;
  border: 3px solid #FCC543;
  border-radius: 32px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}